.highlight{
    font-size:16px;
    color: #122355;
    font-weight: bold;
    }
.lowlight{font-size:14px; color: #808080}

.sidebar{background-color:#CC9933;
    width:200px;
    float:left;
    padding: 5px;
    }

.mainBox{
    padding:10px;
}
#main{
    vertical-align: top;
    text-align: center;
}
.input{
    background: transparent;
}

.buttons{
    text-align: center;


}
.category{
    padding-left: 15px;
}
.big{
    font-size: x-large;

}
.title{
    color: #606060;
}
button.link {
    background:none;
    border:none;
    font-size:16px;
    color: #122355;
}

.overviewOuter{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.overviewNoWrap{
    border: 1px solid gray;
    border-collapse: collapse;
    white-space: nowrap;
    text-align: center;
    color: DimGray;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 200px;
}
.overview{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    color:DarkGray;
    font-size:14px;
    font-weight: lighter;
}
.tally{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding:3px;
    color:DarkBlue;
    font-size:16px;
}
